# Base project artefacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Python envs
.venv/
venv/
venv-backup/
tmpenv/
src/proyecto/venv/

# Django DB
src/proyecto/db.sqlite3
*.sqlite3

# pytest cache
.pytest_cache/

# Editor/IDE
.vscode/
.idea/

# Env files
.env
.env.*
